// Font stack variables

$font-san-serif      : serif;
$font-roboto-slab    : 'Roboto Slab', $font-san-serif;

// Color variables

$color-font          : #111;
$color-nav           : #39add1;
$color-font-footer   : #ba8058;
$color-body-bg       : #edeff0;
$color-container-bg  : #fff;
